<!DOCTYPE html>
<html lang="en">

<head>
   <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v1.11.1/mapbox-gl.js'></script>
   <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v1.11.1/mapbox-gl.css' rel='stylesheet' />
   <!-- teclado -->
   <meta charset="utf-8">
   <!-- sitio -->
   <title>TicoPARK - Registrar/Listar Convenios</title>
   <meta name="author" content="BAMAS Software">
   <!-- css/íconos del sitio -->
   <link rel="stylesheet" href="../../assets/estilo.css">
   <link rel="stylesheet" href="pago.css">
   <script src="https://kit.fontawesome.com/f7460510ef.js" crossorigin="anonymous"></script>
</head>

<body id="default_theme" class="team">
   <!-- header -->
   <header class="header">
      <div class="contenedor">
         <div class="header1">
            <div class="logo"><a href="index.html"><img src="../../imgs/logo.png" alt="TicoPARK"
                     title="Configurar Perfil" /></a></div>
            <div class="menuPrincipal">
               <ul class="listaMenu">
                  <li><a href="equipo.html">Equipo</a></li>
                  <li><a href="vision.html">Visión</a></li>
                  <li><a href="mision.html">Misión</a></li>
                  <li><a href="about.html">Sobre Nosotros</a></li>
                  <li><a href="perfil_dueno.html">Home</a></li>
               </ul>
            </div>
         </div>
         <div class="header2">
            <div class="contHeader2">
               <div><a class="loginIMG" href=""><img src="../../imgs/configuration.png" alt="TicoPARK" /></a></div>
               <div class="contBoton"><a class="botonMain" href="index.html">Cerrar Sesión</a></div>
            </div>
         </div>
      </div>
   </header>

   <!-- final header -->
   <!-- servicio -->
   <section class="contenido">
      <div class="contenedorHeader">

         <!-- inicio búsqueda -->
         <div class="capaForm2 bordeTitulo">
            <div class="h2EstiloB">
               <h2>Check out</h2>
            </div>

            <!-- inicio tabla -->
            <br>



         </div>
         <!-- final búsqueda -->
      </div>
   </section>
   <!-- final servicio -->


   <div class="contenedorContenido">
      <div class="mapWrap hidden" id="mapWrap">

         <div id='map' class='map pad2'>Map</div>
      </div>

      <div class="contenedorTabla">
         <table id="tabla_usuarios" class="tablaListar">
            <thead class="alt_letra">
               <tr>
                  <th id="">Parqueo</th>
                  <th id="">Hora de Ingreso</th>
                  <th id="">Tiempo Total</th>
                  <th id="">Monto</th>
               </tr>



            </thead>
            <tbody id="info_estadia">
               <tr id="">
                  <td id="">Parqueo Rocky</td>
                  <td id="">06:00 pm</td>
                  <td id="">2 horas</td>
                  <td id="">₡4500</i></td>
               </tr>
            </tbody>

         </table>

         <div class="botonWrap">

            <div class="botonPago">
               <button type="button" id="payNow" class="campoBoton" onclick="checkOut()">Pagar</button>
            </div>
            <div class="botonPago">
               <button type="button" class="campoBoton" onclick="window.location.href='../historialPagos/Realizar_Pagos.html'">Pagar Luego</button>
            </div>
            <div class="botonPago">
                  <button type="button" class="campoBoton" onclick="window.location.href = '../perfil_empleado.html'">Cancelar</button>
            </div>
         </div>

         <div class="starWrap">
            <div class="rate">
               <input type="radio" id="star5" name="rate" value="5" />
               <label for="star5" title="text">5 stars</label>
               <input type="radio" id="star4" name="rate" value="4" />
               <label for="star4" title="text">4 stars</label>
               <input type="radio" id="star3" name="rate" value="3" />
               <label for="star3" title="text">3 stars</label>
               <input type="radio" id="star2" name="rate" value="2" />
               <label for="star2" title="text">2 stars</label>
               <input type="radio" id="star1" name="rate" value="1" />
               <label for="star1" title="text">1 star</label>
             </div>
         </div>

      </div>
   </div>

   <!-- footer fondo -->
   <footer class="footer">
      <div class="footer_fondo_forms">
         <div class="footer_fondo">
            <p>© 2020 - Desarrollado por <strong>Grupo BAMAS</strong></p>
            <div>
            </div>
   </footer>
   <!-- final footer -->
   <!--=========== Sección de js ===========-->


   <!-- SweetAlert-->

   <!-- custom js -->
   <script src="global.js"></script>
   <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
   <script src="pago.js"></script>
</body>

</html>