<!DOCTYPE html>
<html lang="en">

<head>
   <!-- teclado -->
   <meta charset="utf-8">
   <!-- sitio -->
   <title>TicoPARK - Registrar/Listar Convenios</title>
   <meta name="author" content="BAMAS Software">
   <!-- css/íconos del sitio -->
   <link rel="stylesheet" href="../../assets/estilo.css" />
   <script src="https://kit.fontawesome.com/f7460510ef.js" crossorigin="anonymous"></script>
</head>

<body id="default_theme" class="team">
   <!-- header -->
   <header class="header">
      <div class="contenedor">
         <div class="header1">
            <div class="logo"><a href="index.html"><img src="../../imgs/logo.png" alt="TicoPARK"
                     title="Configurar Perfil" /></a></div>
            <div class="menuPrincipal">
               <ul class="listaMenu">
                  <li><a href="equipo.html">Equipo</a></li>
                  <li><a href="vision.html">Visión</a></li>
                  <li><a href="mision.html">Misión</a></li>
                  <li><a href="about.html">Sobre Nosotros</a></li>
                  <li><a href="../perfil_cliente.html">Home</a></li>
               </ul>
            </div>
         </div>
         <div class="header2">
            <div class="contHeader2">
               <div><a class="loginIMG" href=""><img src="../../imgs/configuration.png" alt="TicoPARK" /></a></div>
               <div class="contBoton"><a class="botonMain" href="index.html">Cerrar Sesión</a></div>
            </div>
         </div>
      </div>
   </header>

   <!-- final header -->
   <!-- servicio -->
   <section class="contenido">
      <div class="contenedorContenidoInd">
         <div class="capaForm2 bordeTitulo">
            <div class="h2EstiloB">
               <h2>Pagos pendientes</span></h2>
            </div>

            
            <!-- inicio tabla -->
            <br>

            <div class="contenedorTabla">
               <table id="tabla_usuarios" class="tablaListar">
                  <thead class="alt_letra">
                     <tr>
                        <th id="">Usuario</th>
                        <th id="">Parqueo</th>
                        <th id="">Fecha</th>
                        <th id="">Tipo de vehículo</th>
                        <th id="">Monto</th>
                      <th id="">Pagar</th>
                     <!--    <th id="">#</th>
                        <th id="">#</th>--> 
                     </tr>

                     
                 
                  </thead>
                  <tbody id="contenido_tabla">
                     <tr>
                        <td id="">Alessandro Cabezas</td>
                        <td id="">Parqueo Rocky</td>
                        <td id="">15/5/2020</td>
                        <td id="">Carro</td>
                        <td id="">₡4500</td>
                       <td id=""><i onclick="window.location.href = '../pago/pago.html'"
                        class="fa fa-car fa-2x iconosTabla" aria-hidden="true"></i></td>
                       <!--  <td id=""><i onclick="Editar(id)" class="fas fa-edit fa-lg iconosTabla"></i></td>
                        <td id=""><i onclick="Borrar(id)" class="fas fa-trash-alt fa-lg iconosTabla"></i></td>--> 
                     </tr>
                     <!-- <tr>
                        <td id="">A7475858</td>
                        <td id="">iTech</td>
                        <td id="">15/2/2020</td>
                        <td id="">Automóviles, cuadraciclos</td>
                       <td id=""><i class="fas fa-pager iconosTabla"></i></td>
                        <td id=""><i onclick="Editar(id)" class="fas fa-edit fa-lg iconosTabla"></i></td>
                        <td id=""><i onclick="Borrar(id)" class="fas fa-trash-alt fa-lg iconosTabla"></i></td>
                     </tr>   --> 
                    <!--  <tr>
                        <td id="">A557454</td>
                        <td id="">Baxter</td>
                        <td id="">25/5/2020</td>
                        <td id="">Automóviles</td>
                       <td id=""><i class="fas fa-pager iconosTabla"></i></td>
                        <td id=""><i onclick="Editar(id)" class="fas fa-edit fa-lg iconosTabla"></i></td>
                        <td id=""><i onclick="Borrar(id)" class="fas fa-trash-alt fa-lg iconosTabla"></i></td>
                     </tr>      --> 
                  </tbody>
                  
               </table>
            </div>

         </div>
         <!-- final búsqueda -->
      </div>
   </section>
   <!-- final servicio -->
   <!-- footer fondo -->
   <footer class="footer">
      <div class="footer_fondo_forms">
         <div class="footer_fondo">
            <p>© 2020 - Desarrollado por <strong>Grupo BAMAS</strong></p>
            <div>
            </div>
   </footer>
   <!-- final footer -->
   <!--=========== Sección de js ===========-->


   <!-- SweetAlert-->

   <!-- custom js -->
   <script src="global.js"></script>

</body>

</html>