<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tarjeta</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://kit.fontawesome.com/f7460510ef.js" crossorigin="anonymous"></script>
</head>
<body>
    
         <!-- header -->
         <header class="header">
            <div class="contenedor">
                <div class="header1">
                    <div class="logo"><a href="../../../index.html"><img  src="../../imgs/logo.png" alt="TicoPARK" title="Configurar Perfil" /></a></div>
                    <div class="menuPrincipal">  
                          <ul class="listaMenu">
                             <li><a href="equipo.html">Equipo</a></li>
                             <li><a href="vision.html">Visión</a></li>
                             <li><a href="mision.html">Misión</a></li>
                             <li><a href="about.html">Sobre Nosotros</a></li>
                             <li><a href="index.html">Home</a></li>
                          </ul>  
                    </div>
                </div>
                <div class="header2">
                    <div class="contHeader2">
                        <div><a class="loginIMG" href="../configurar_cuenta.html"><img src="../../imgs/configuration.png" alt="TicoPARK"/></a></div>
                        <div class="contBoton"><a class="botonMain" href="../../../index.html">Cerrar Sesión</a></div>
                    </div>    
                </div>            
            </div>
        </header>
        <!-- termina header-->


<section class="contenido">
    <div class="contenedorContenido">
       
       <!-- inicio búsqueda -->
       <div class="capaForm2 bordeTitulo">
          <div class="h2EstiloB">
             <h2>Información de tarjeta</span></h2>
          </div>

          <!-- inicio tabla -->
          <br>
                      
          <div class="contenedorTabla">
            <div class="XD">
                
        
                <form class="formulario">

                    <div><img  src="../../imgs/visapa.jpg  " alt="TicoPARK" title="Configurar Perfil"class="visa" /></div>
                    
                      <div >
                        <input type="text" placeholder="Nombre" required="" />
                      </div>
                      <div><input type="text" placeholder="Apellidos "  required="" /></div> 
                      <div>           
                        <input type="text" placeholder="Número de tarjeta" required="" />
                      </div>
                   

               

                     <div class="">
                        <div class="form-list__input-inline">

                          <input type="text" name="cc_month" placeholder="Fecha de vencimiento (MM/AA)"   required="" />
                        </div>
                      </div>

                     <div>

                        <input type="text" name="cc_cvc" placeholder="Código de seguridad (CVV)"  required="" />
                      </div>

                  <a href="registrar_tarifas.html"><button class="campoBoton"  >Guardar</button></a>
                </form>
              </div> <!-- END: .modal__content -->
          </div>
            
          
       </div>   




 <!-- footer -->
 <footer class="footer">
    <div class="contenedorFooter">
       <div class="footerBAMAS">
          <div class="full width_9" style="margin-bottom:25px;"> <a href="index.html"><img class="img-responsive" width="250" src="../../imgs/bamas.png" alt="#"></a> </div>
          <div class="full width_9">
             <p><strong>Oficinas Centrales:</strong> La Uruca, 200m este y 125m norte de la entrada principal de Migración</p>
          </div>
          <div class="full width_9">
             <p><strong>Telefóno/Whatsapp:</strong> <span class="infoTelMail"> +506 2578-9455</span3></p>
          </div>
          <div class="full width_9">
             <p><strong>Correo electrónico:</strong> <span class="infoTelMail">ticopark@gmail.com</span3></p>
          </div>
       </div>
       <div class="footerTwitter">
          <div class="full">
             <div class="footer_blog_2 width_9">
                <h3>Feed Twitter</h3>
                <p><i class="fa fa-twitter"></i> Ministerio_de_Salud - 12 mins
                   Te invitamos a leer las nuevas disposiciones del Ministerio de Salud para parqueos #Ministerio #Salud #Covid-19 #Parqueos #Costarica https://p.jo/EGDFmxGHn
                </p>
                <p><i class="fa fa-twitter"></i> IFAM - 58 mins
                   Para consultas de tarifas de parqueo, consulta a servicio al cliente en los teléfonos de nuestra página Web #Tarifas #IFAM #Economía #Municipalidades https://t.co/Y7tZMmxGHn
                </p>
             </div>
          </div>
       </div>
       <div class="footerSocial">
          <h3>Social</h3>
          <div class="full">
             <ul class="footer-links">
                <li><a href="#"><i class="fa fa-facebook"></i> 415 "Me Gusta"</a></li>
                <li><a href="#"><i class="fa fa-instagram"></i> 145 "Me Gusta"</a></li>
                <li><a href="#"><i class="fa fa-twitter"></i> 1,142 Seguidores</a></li>                           
             </ul>
          </div>
       </div>
       <div class="footerBlog">
          <h3>Blog</h3>
          <div class="blog_post_footer">
             <div class="blog_post_img"> <img width="80" height="80" src="../../imgs/blog1.png" alt="#"> </div>
             <div class="blog_post_cont">
                <p class="date">Agosto 03, 2020</p>
                <p class="post_head">Parqueos mejor calificados en Heredia</p>
             </div>
          </div>
          <div class="blog_post_footer">
             <div class="blog_post_img"> <img width="80" height="80" src="../../imgs/blog2.png" alt="#"> </div>
             <div class="blog_post_cont">
                <p class="date">Julio 29, 2020</p>
                <p class="post_head">Manual para Reservar en TicoPark</p>
             </div>
          </div>
          <div class="blog_post_footer">
             <div class="blog_post_img"> <img width="70" height="70" src="../../imgs/blog3.png" alt="#"> </div>
             <div class="blog_post_cont">
                <p class="date">Julio 25, 2020</p>
                <p class="post_head">Bienvenidos a TicoPark</p>
             </div>
          </div>                    
       </div>
    </div>
    <!-- footer fondo -->
    <div class="footer_fondo">
       <p>© 2020 - Desarrollado por <strong>Grupo BAMAS</strong></p>
    </div>
 </footer>
 <!-- final footer -->
 <!--=========== Sección de js ===========-->
 
 
 <!-- SweetAlert-->

 <!-- custom js -->
 <script src=""></script>


</body>
</html>



