<!DOCTYPE html>
<html lang="en">
<head>
	<title>BAMAS - Recuperación de contraseña</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../assets/estiloRecuperar.css">
<!--===============================================================================================-->
</head>
<body>
	
	<div class="recuperar">
		<div class="contenedorRecuperar">
			<div class="wrapRecuperar"> 
				<form class="capaForm">
					<span class="titulo">
						Cambio de Contraseña
					</span>

					<div class="capaInput">
                        <input class="inputForm" type="email" name="email" placeholder="Ingrese su correo electrónico" id="email" required="">
                        <span class="focus-inputForm"></span>
						
					</div>

					<div class="contenedorBoton">
						<button type="button" class="botonForm">
							Enviar correo de recuperación
						</button>
					</div>

					

					<div class="capaTexto">
						<span class="texto1">
							¿Recibiste la contraseña temporal?
						</span>

						<a href="iniciar_sesion.html" class="texto2 hov1">
							Inicia sesión 
						</a>
					</div>
				</form>
			</div>
		</div>
	</div>
	

	

<!--===============================================================================================-->


</body>
</html>