<!DOCTYPE html>
<html lang="en">
   <head>
      <!-- teclado -->
      <meta charset="utf-8">
      <!-- sitio -->
      <title>TicoPARK - Registrar tipos de usuario</title>
      <meta name="author" content="BAMAS Software">
      <!-- css/íconos del sitio -->
      <link rel="stylesheet" href="../../assets/estilo.css" />
      <link rel="stylesheet" href="../../assets/estiloRegistrar.css" />
      <script src="https://kit.fontawesome.com/f7460510ef.js" crossorigin="anonymous"></script>
   </head>
   <body id="default_theme" class="team">
      <!-- header -->
      <header class="header">
        <div class="contenedor">
            <div class="header1">
                <div class="logo"><a href="index.html"><img  src="../../assets/imgs/logo.png" alt="TicoPARK" title="Configurar Perfil" /></a></div>
                <div class="menuPrincipal">  
                      <ul class="listaMenu">
                         <li><a href="equipo.html">Equipo</a></li>
                         <li><a href="vision.html">Visión</a></li>
                         <li><a href="mision.html">Misión</a></li>
                         <li><a href="about.html">Sobre Nosotros</a></li>
                         <li><a href="perfil_dueno.html">Home</a></li>
                      </ul>  
                </div>
            </div>
            <div class="header2">
                <div class="contHeader2">
                    <div><a class="loginIMG" href=""><img src="../../assets/imgs/configuration.png" alt="TicoPARK"/></a></div>
                    <div class="contBoton"><a class="botonMain" href="../landingpage.html">Volver Atrás</a></div>
                </div>    
            </div>            
        </div>
    </header>
    
      <!-- final header -->
      <!-- servicio -->
      <section class="contenido">
         <div class="contenedorTipos">

            <div class="capaForm2 bordeTitulo">
               <div class="h2Estilo">
                  <h2>Registrar <span>tipo de usuario</span></h2>
               </div>

               <!-- inicio Contenedores -->
               <div class="contenedor-tipos">
                  <div class="contenedor-tipo">
                     <a class="boton-tipo" href="registrarClientes.html"><i class="fas fa-user" id="botonTipo"></i></br>Usuario</a>
                  </div>
                  <div class="contenedor-tipo">
                     <a class="boton-tipo" href="registrarEmpresa.html"><i class="fas fa-briefcase" id="botonTipo"></i></br>Empresa</a>
                  </div>
                  <div class="contenedor-tipo">
                     <a class="boton-tipo" href="registrarDueno.html"><i class="fas fa-car" id="botonTipo"></i></br>Parqueo</a>
                  </div>
               </div>
            </div>
         </div>
      </section>  
      <!-- final servicio -->
      <!-- footer fondo -->
      <footer class="footer">
         <div class="footer_fondo_forms">      
            <div class="footer_fondo">
               <p>© 2020 - Desarrollado por <strong>Grupo BAMAS</strong></p>
            <div>
         </div>
      </footer>
      <!-- final footer -->
      <!--=========== Sección de js ===========-->
      
      
      <!-- SweetAlert-->
    
      <!-- custom js -->
      <script src="global.js"></script>
    
   </body>
</html>