<!DOCTYPE html>
<html lang="en">
   <head>
      <!-- teclado -->
      <meta charset="utf-8">
      <!-- sitio -->
      <title>TicoPARK - Perfil Cliente </title>
      <meta name="author" content="BAMAS Software">
      <!-- css/íconos del sitio -->
      <link rel="stylesheet" href="../../assets/estilo.css" />
      <script src="https://kit.fontawesome.com/f7460510ef.js" crossorigin="anonymous"></script>
      <link rel="stylesheet" type="text/css" href="../../assets/fonts/flaticon.css">
   </head>
   <body id="default_theme" class="team">
      <!-- header -->
      <header class="header">
        <div class="contenedor">
            <div class="header1">
                <div class="logo"><a href="index.html"><img  src="../../assets/imgs/logo.png" alt="TicoPARK" title="Configurar Perfil" /></a></div>
                <div class="menuPrincipal">  
                      <ul class="listaMenu">
                         <li><a href="equipo.html">Equipo</a></li>
                         <li><a href="vision.html">Visión</a></li>
                         <li><a href="mision.html">Misión</a></li>
                         <li><a href="about.html">Sobre Nosotros</a></li>
                         <li><a href="index.html">Home</a></li>
                      </ul>  
                </div>
            </div>
            <div class="header2">
                <div class="contHeader2">
                    <div><a class="loginIMG" href="../configurarCuenta/configurarCuenta.html"><img src="../../assets/imgs/configuration.png" alt="TicoPARK"/></a></div>
                    <div class="contBoton"><button type="button" class="botonMain" onclick="cerrarSesion()">Cerrar Sesión</button>
                    </div>
                </div>    
            </div>            
        </div>
      </header>
    
      <!-- final header -->
      <div class="slideBanner">
        <div class="slideContenedor">
            <img class="fotoProfile" src="../../assets/imgs/blankprofile.png">
            <h2>Usuario</h2>
        </div>   
    </div>
      <!-- Sección - Servicios de Perfil -->
      <section class="servicios">
          <div class="seccionBusqueda">
              <div class="h2EstiloC">
                <h2>Reservar <span>Parqueos</span></h2>
              </div>
            
          <div class="bannerBusqueda">
               <a href="../cliente/reservarParqueo.html"><img class="banner hvr-glow" alt="búsqueda"  src="../../assets/imgs/bannerbusqueda.png"></a>       
          </div>
          </div>
          <div class="serviciosCuenta">
            <div class="h2EstiloC">
                <h2>Administrar <span>Servicios</span></h2>
            </div>
            <div class="contenedorServicios">
                <div class= "rowServicios">
                    <ul>
                        <li>
                           <a href="../pago/historialPagos.html"><i class="flaticon-bill"></i></a>
                           <div class="innerRow">
                              <h4>Historial de Pagos</h4>
                              <p>Listá todas las transacciones que has realizado con la app. </p>
                           </div>
                        </li>
                    </ul>
                </div>
                <div class= "rowServicios">
                    <ul>
                        <li>
                           <a href="reservaciones/reservaciones.html"><i class="flaticon-desk-bell"></i></a>
                           <div class="innerRow">
                              <h4>Reservaciones</h4>
                              <p>Administrá las reservaciones que realizaste con tus parqueos favoritos. </p>
                           </div>
                        </li>
                    </ul>                    
                </div>
            </div>
     </section>
     <!-- final Sección Servicios -->
     

      <!-- footer -->
      <footer class="footer">
         <div class="contenedorFooter">
            <div class="footerBAMAS">
               <div class="full width_9" style="margin-bottom:25px;"> <a href="index.html"><img class="img-responsive" width="250" src="../../assets/imgs/bamas.png" alt="#"></a> </div>
               <div class="full width_9">
                  <p><strong>Oficinas Centrales:</strong> La Uruca, 200m este y 125m norte de la entrada principal de Migración</p>
               </div>
               <div class="full width_9">
                  <p><strong>Telefóno/Whatsapp:</strong> <span class="infoTelMail"> +506 2578-9455</span3></p>
               </div>
               <div class="full width_9">
                  <p><strong>Correo electrónico:</strong> <span class="infoTelMail">ticopark@gmail.com</span3></p>
               </div>
            </div>
            <div class="footerTwitter">
               <div class="full">
                  <div class="footer_blog_2 width_9">
                     <h3>Feed Twitter</h3>
                     <p><i class="fa fa-twitter"></i> Ministerio_de_Salud - 12 mins
                        Te invitamos a leer las nuevas disposiciones del Ministerio de Salud para parqueos #Ministerio #Salud #Covid-19 #Parqueos #Costarica https://p.jo/EGDFmxGHn
                     </p>
                     <p><i class="fa fa-twitter"></i> IFAM - 58 mins
                        Para consultas de tarifas de parqueo, consulta a servicio al cliente en los teléfonos de nuestra página Web #Tarifas #IFAM #Economía #Municipalidades https://t.co/Y7tZMmxGHn
                     </p>
                  </div>
               </div>
            </div>
            <div class="footerSocial">
               <h3>Social</h3>
               <div class="full">
                  <ul class="footer-links">
                     <li><a href="#"><i class="fa fa-facebook"></i> 415 "Me Gusta"</a></li>
                     <li><a href="#"><i class="fa fa-instagram"></i> 145 "Me Gusta"</a></li>
                     <li><a href="#"><i class="fa fa-twitter"></i> 1,142 Seguidores</a></li>                           
                  </ul>
               </div>
            </div>
            <div class="footerBlog">
               <h3>Blog</h3>
               <div class="blog_post_footer">
                  <div class="blog_post_img"> <img width="80" height="80" src="../../assets/imgs/blog1.png" alt="#"> </div>
                  <div class="blog_post_cont">
                     <p class="date">Agosto 03, 2020</p>
                     <p class="post_head">Parqueos mejor calificados en Heredia</p>
                  </div>
               </div>
               <div class="blog_post_footer">
                  <div class="blog_post_img"> <img width="80" height="80" src="../../assets/imgs/blog2.png" alt="#"> </div>
                  <div class="blog_post_cont">
                     <p class="date">Julio 29, 2020</p>
                     <p class="post_head">Manual para Reservar en TicoPark</p>
                  </div>
               </div>
               <div class="blog_post_footer">
                  <div class="blog_post_img"> <img width="80" height="80" src="../../assets/imgs/blog3.png" alt="#"> </div>
                  <div class="blog_post_cont">
                     <p class="date">Julio 25, 2020</p>
                     <p class="post_head">Bienvenidos a TicoPark</p>
                  </div>
               </div>                    
            </div>
         </div>
         <!-- footer fondo -->
         <div class="footer_fondo">
            <p>© 2020 - Desarrollado por <strong>Grupo BAMAS</strong></p>
         </div>
      </footer>
      <!-- final footer -->
      <!--=========== Sección de js ===========-->
      
      
      <!-- SweetAlert-->
    
      <!-- custom js -->
      <script src="/global.js"></script>
    
   </body>
</html>